#about {
	h2 {
		margin-top: $base-unit * 7;
		margin-bottom: $base-unit * 3;

		@include media-breakpoint-down(md) { 
			margin-top: 0;
			margin-bottom: $base-unit * 3; 
		}
	}

	h3 {
		margin-top: $base-unit * 2;

		@include media-breakpoint-down(md) {
			margin-top: $base-unit * 3;
			margin-bottom: $base-unit;
		}
	}

	.about_col_wrap {
		font-size: $base-unit * 1.2;
	
		@include media-breakpoint-down(md) { font-size: $base-unit * 1.2; }
	
		& .about_col {
			vertical-align: top;
	
			@include media-breakpoint-down(md) { padding: 0 $base-unit * 8; }
			@include media-breakpoint-down(sm) { padding: 0 $base-unit * 4; }
	
		}
	}
	
	.about_image_container {
		@include media-breakpoint-down(md) {
			text-align: center;
			padding-bottom: $base-unit * 2;
		}
	
		.about_image {
			width: 65%;
			border-radius:5%;
	
			@include media-breakpoint-down(lg) { width: 80%; }
			@include media-breakpoint-down(md) { width: 30%; }
			@include media-breakpoint-down(sm) { width: 60%; }
		}	
	}
}

