.contact_form {
	border: $base-unit / 10 solid $meinnovation-primary;
	padding: $base-unit * 3;
	width: 35%;
	border-radius: $base-unit * 2;
	box-shadow: 0 0 $base-unit $meinnovation-primary;
	margin: 0 auto;
	font-size: $base-unit * 1.2;

	@include media-breakpoint-down(sm) {
		width: 85%;
		padding: $base-unit * 2;
	}

	& button {
		@extend %button;
		width: 60%;

		@include media-breakpoint-down(sm) 	{ width: 80%; }
	}

	& button:hover {
		width: 65%;

		@include media-breakpoint-down(sm) 	{ width: 80%; }
	}

	& .form-group 							{ margin-bottom: $base-unit * 2; }

	& input, textarea {
		background-color: $meinnovation-highlight;
		border: none;
		display: block;
		border-radius: $base-unit * 0.2;
		width: 100%;
		padding: $base-unit * 0.5 0;
		margin: 0;
		font-size: $base-unit * 1.5;

		@include media-breakpoint-down(sm) 	{ margin: 0 auto; }
	}

	& label {
		display: block;
		margin-top: $base-unit;
		margin-bottom: $base-unit * 0.3;
	}

	& textarea {
		margin-bottom: $base-unit * 3;
		padding-left: $base-unit * 0.5;
	}
}
