footer { 
	font-size: $base-unit * 1.0;
	text-align: center; 
	padding-bottom: $base-unit;
	margin-top: $base-unit * 5;
	margin-bottom: $base-unit;
	position: relative;

	@include media-breakpoint-down(md) {
		margin-top: $base-unit * 5;
		margin-bottom: $base-unit * 5;
	}
}