#projects {
	margin: 0;
	padding: $base-unit * 4 0 0 $base-unit * 2;

	@include media-breakpoint-down(sm) {
		margin-top: $base-unit * 2;
		padding: 0;
	}

	.gallery_container 								{ padding-left: 0; }

	.photos { 
		padding: $base-unit; 
		display: flex;
		//overflow-y: visible;
		overflow-y: scroll;

		@include media-breakpoint-down(sm) { 
			width: 100%;
			margin: 0;
			display: block;
			overflow-y: visible;
		}
	}

	#gallery_wrap { 
		padding-left: $base-unit * 0.4;

		@include media-breakpoint-down(sm) 			{ padding: 0; }
	
		& .gallery_image { 
			width: 100%;
			cursor: pointer;
			box-shadow: 0 0 $base-unit white; 
		}

		.gallery_item {
			display: inline;
			margin-right: $base-unit * 4;
			width: 40%;
			position: relative;

			@include media-breakpoint-down(sm) { 
				width: 100%;
				margin: 0 0 $base-unit * 4 0;
				display: block;
			}
		}
	}
}

#content_wrap { 
	margin-right: $base-unit * -0.5;
	margin-left: $base-unit * -0.5;

	@include media-breakpoint-down(sm) { text-align: center; } 
}