#metadata { 
	background-color: $meinnovation-secondary;
	border-radius: $base-unit;
	font-size: $base-unit * 1.2;
	padding: $base-unit * 4; 
	z-index: 9999; 

	@include media-breakpoint-down(md) {
		top: 5%;
		left: 0;
		right: 0;
		bottom: 5%;
		margin: 0 auto;
		width: 90%;
		padding: $base-unit * 2
	}

	& h3 {
		@include media-breakpoint-down(md) { font-size: $base-unit * 3;   }
		@include media-breakpoint-down(sm) { font-size: $base-unit * 2.5; }
	}

	& button { 
		@extend %button;
		margin-bottom: $base-unit * 2;
		width: 50%;
		font-size: $base-unit * 1.1;

		@include media-breakpoint-down(lg) { width: 80%; }
		@include media-breakpoint-down(md) { width: 90%; }
	}

	& button:hover { 
		width: 55%;

		@include media-breakpoint-down(lg) { width: 85%; }
		@include media-breakpoint-down(md) { width: 90%; }
	}

	& .metadata_button_wrap { 
		text-align: center;
	}
	
	& .meta_wrap { 
		margin: 0 auto;

		@include media-breakpoint-down(md) { margin-top: $base-unit * 2; }

		& div { 
			line-height: $base-unit * 2;
			padding: 0;
		}
		& .desc { 
			margin-bottom: $base-unit * 4; 

			@include media-breakpoint-down(md) { margin-bottom: $base-unit * 2; }
		}
	}
 
}
