#projects {
	margin: 0;
	padding: $base-unit * 4 0 0 $base-unit * 2;

	@include media-breakpoint-down(md) {
		margin-top: $base-unit * 2;
		padding: 0;
	}

	#gallery_wrap { 
	
		@include media-breakpoint-down(md) {
			padding: $base-unit;
		}
	
		& .gallery_image { 
			width: 100%;
			opacity: 0.5;
			cursor: pointer;
	
			@include media-breakpoint-down(md) {
				margin: 0 auto;
			}
		}
	
		& .slide_selection {
			bottom: $base-unit * 8;
			background-color: rgba(0,0,0,0.5);
			z-index: 500;
	
			@include media-breakpoint-down(md) {
				bottom: 0;
				background-color: transparent;
			}
		}
	
		& .slide_selectors {
			li {
				color: $meinnovation-highlight;
				cursor: pointer;
				padding-right: $base-unit * 0.5;
				font-size: $base-unit * 6;
				line-height: 0.5;
				display: inline-flex;
			}
	
			li:hover, li:active, li.active { color: $meinnovation-primary; }
		}
	}
	
	.slide-hide, %slide-hide { 
		transition: 1s;
		opacity: 0; 
		width: 0; 
	}
	
	.slide-show { 
		@extend %slide-hide;
		opacity: 1; 
		width: 70%; 
	}
}