* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:active, a:focus, a:hover { text-decoration: none; }

body { 
	font-family: $font-family-body; 
	background-color: $meinnovation-secondary; 
	color: $white; 
	margin: 0; 
	font-size: $font-size-body;
}

h1, h2, h3, h4 { 
	color: $white; 
	font-family: $heading-font-family; 
}

h1 { 
	font-size: $base-unit * 1.5; 
	text-align: center;
	margin: 0;
	text-shadow: 0 0 $base-unit * 1.5 $meinnovation-primary;

	@include media-breakpoint-down(md) { font-size: $base-unit; }
}

h2 { 
	font-size: $base-unit * 3;
	margin-bottom: $base-unit * 10;

	@include media-breakpoint-down(md) {
		text-align: center;
		margin-bottom: $base-unit * 5;
	}
}

h3 { font-size: $base-unit * 2; }

li { list-style-type: none; }

section { 
	height: 100vh;
	padding: $base-unit * 7 0 0 $base-unit * 1;

	@include media-breakpoint-down(md) {
		width: 100%;
		padding: 0;
	}
}

.active { color: $meinnovation-highlight; }

.button, %button {
	background-color: $meinnovation-primary;
	color: $meinnovation-secondary; 
	font-weight: bold; 
	width: 70%; 
	margin: 0 auto;
	padding: $base-unit 0; 
	font-family: $heading-font-family; 
	border: none; 
	font-size: $base-unit * 2.4; 
	cursor: pointer; 
	display: block;
	border-radius: $base-unit * 0.3;
	transition: width 0.5s ease;
	box-shadow: 0 0 $base-unit $meinnovation-primary;
}

.disableBackground { 
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.9); 
	z-index: 700;
}

.displayBlock { display: block; }
.displayNone  { display: none;  }

.main_container {
	width: 84%;

	@include media-breakpoint-down(lg) {
		width: 80%;
	}
	@include media-breakpoint-down(md) {
		width: 100%;
	}
}