@import "_variables.scss";

/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	font-family: $font-family-body; 
	background-color: $meinnovation-secondary; 
	color: $white; 
	margin: 0; 
	font-size: $font-size-body;
}

.main_container {
	width: 84%;

	@include media-breakpoint-down(lg) {
		width: 80%;
	}
	@include media-breakpoint-down(md) {
		width: 100%;
	}
}

section { 
	height: 100vh;
	margin-bottom: 100vh;
	padding-left: $base-unit * 3;

	@include media-breakpoint-down(md) {
		width: 100%;
		padding-left: 0;
	}
}

a, a:active, a:focus, a:hover {
	text-decoration: none;
}

li { list-style-type: none; }

h1, h2, h3, h4 { 
	color: $white; 
	font-family: $heading-font-family; 
}

h1 { 
	font-size: 4rem; 
	margin: 0;
	text-shadow: 0 0 $base-unit * 1.5 #FFD740;

	@include media-breakpoint-down(md) {
		font-size: $base-unit;
	}
}

h2 { 
	font-size: $base-unit * 3;
	margin-bottom: $base-unit * 10;

	@include media-breakpoint-down(md) {
		text-align: center;
		margin-bottom: $base-unit * 5;
	}
}

h3 {
	font-size: $base-unit * 2.5;
}

.button, %button {
	background-color: $meinnovation-primary;
	color: #212121; 
	font-weight: bold; 
	width: 70%; 
	margin: 0 auto;
	padding: $base-unit 0; 
	font-family: $heading-font-family; 
	border: none; 
	font-size: 24px; 
	cursor: pointer; 
	display: block;
	border-radius: $base-unit * 0.3;
	transition: width 0.5s ease;
	box-shadow: 0 0 $base-unit #FFD740;
}

.active { color: $meinnovation-highlight; }

.displayNone { display: none; }

.displayBlock { display: block; }