@import "_variables.scss";

.intro_logo { 
	width: 40%;
}

#intro_logo_wrap, #intro_wrap { text-align: center; }

#intro_logo_wrap { 
	& h1 {
		font-size: $base-unit * 2.5;

		@include media-breakpoint-down(md) {
			font-size: $base-unit * 3;
		}
		@include media-breakpoint-down(sm) {
			font-size: $base-unit * 2;
		}
	}
}

#intro_wrap { 
	margin-top: $base-unit;
	height: initial;
	padding-bottom: $base-unit * 1.5;
	margin-bottom: $base-unit;
	display: none;

	@include media-breakpoint-down(md) {
		margin-top: $base-unit; 
		display: block;
	}
}

#intro_data { 
	padding: 40px; 
	margin: 0 auto;
	font-size: $base-unit * 1.5;

	@include media-breakpoint-down(md) {
		padding: 0;
	} 
	@include media-breakpoint-down(sm) {
		font-size: $base-unit;
	}
}

