@import "_variables.scss";
@import "_global.scss";

#metadata { 
	position: absolute; 
	background-color: $meinnovation-secondary;
	border: $base-unit / 10 solid $meinnovation-highlight;
	border-radius: $base-unit;
	font-size: $base-unit * 1.5;
	top: 15%; 
	padding: $base-unit * 4; 
	width: 40%;
	z-index: 9999; 
	margin: 0 auto;
	left: 20%;
	text-align: center;

	@include media-breakpoint-down(md) {
		top: 20%;
	}
	@include media-breakpoint-down(md) {
		width: 90%;
		left: 0;
		margin: 0 $base-unit * 3.5;
	}
	@include media-breakpoint-down(sm) {
		width: 90%;
		left: 0;
		margin: 0 $base-unit * 2.5;
	}

	& h3 {
		@include media-breakpoint-down(md) {
			font-size: $base-unit * 3;
		}
		@include media-breakpoint-down(sm) {
			font-size: $base-unit * 2.5;
		}
	}

	& button { 
		@extend %button;
		width: 60%;

		@include media-breakpoint-down(lg) {
			width: 75%;
		}
		@include media-breakpoint-down(md) {
			width: 50%;
		}
		@include media-breakpoint-down(sm) {
			width: 75%;
		}
	}

	& button:hover { 
		width: 65%;

		@include media-breakpoint-down(lg) {
			width: 80%;
		}
		@include media-breakpoint-down(md) {
			width: 55%;
		}
		@include media-breakpoint-down(sm) {
			width: 80%;
		}
	}

	& .metadata_button_wrap { 
		text-align: center; 
		margin: $base-unit * 2 0;

	}

	& .meta_wrap { 
		margin: 0 auto;

		& div { 
			line-height: $base-unit * 2;
			padding: 0 $base-unit * 0.5;
		}
		& .desc { margin-bottom: $base-unit * 4; }
	}

	& .meta_close { 
		position: absolute; 
		right: 3%; 
		top: 3%;   
		font-size: $base-unit * 2; 
		z-index: 1000; 
		cursor: pointer; 
		color: $meinnovation-primary;
		transition: font-size 0.5s ease;

		@include media-breakpoint-down(md) {
			font-size: $base-unit * 3;
		}
	}

	& .meta_close:hover {
		font-size: $base-unit * 2.5;

		@include media-breakpoint-down(md) {
			font-size: $base-unit * 3.5;
		}
	}
 
}
