aside { 
	color: #37474F; 
	padding: $base-unit * 3 $base-unit $base-unit * 3 $base-unit;
	font-size: $base-unit * 2;
	position: fixed; 
	top: 0;
	bottom: 0;
	right: 0;   
	z-index: 500;
	width: 15%;

	@include media-breakpoint-down(lg) {
		width: 19%;
	}
	@include media-breakpoint-down(md) {
		padding: 0;
		top: initial;
		font-size: $base-unit;
		width: 100%;
	}

	#nav_logo_wrap {

		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}


#contact_wrap {
	position: relative;
    bottom: $base-unit * 5.3;
    z-index: 9999;
    top: 50vh;

	@include media-breakpoint-down(md) {
		display: flex;
		padding: 0;
		margin: 0;
		bottom: 0;
	}

	.contact_icons {
		color: $meinnovation-primary;
		font-size: $base-unit * 3;
		cursor: pointer;
		display: inline-block;
	
		@include media-breakpoint-down(lg) {
			font-size: $base-unit * 3.5;
		}
	}

	.contact_links, %nav_links { 
		margin-top: $base-unit * 5;
		text-align: center;
		padding: 0;
		margin-bottom: 0;

		@include media-breakpoint-down(md) {
			background-color:gray;
			width: 100%;
			padding: $base-unit 0;
		}
	
		& li { 
			display: inline-flex;
			cursor: pointer;
		}
	
	}
}
