@import "_variables.scss";

aside { 
	color: #37474F; 
	padding: $base-unit;
	font-size: $base-unit * 2;
	position: fixed; 
	top: 0;
	bottom: 0;
	right: 0;   
	z-index: 500;
	width: 15%;

	@include media-breakpoint-down(lg) {
		width: 19%;
	}
	@include media-breakpoint-down(md) {
		padding: 0;
		top: initial;
		font-size: $base-unit;
		width: 100%;
	}
}

#nav_logo_wrap {

	@include media-breakpoint-down(md) {
		display: none;
	}
}

.nav_links, %nav_links { 
	margin-top: $base-unit * 5;
	text-align: center;
	padding: 0;

	@include media-breakpoint-down(md) {
		display: none;
	}

	& li { 
		margin: 20px 0; 
		display: block;

		@include media-breakpoint-down(md) {
			display: none;
		}

		& a {
			color: $meinnovation-primary; 
			font-family: 'Orbitron', sans-serif; 
			text-shadow: 0 0 $base-unit * 1.5 #FFD740;
			transition: font-size 0.5s ease;

			@include media-breakpoint-down(md) {
				font-size: $base-unit * 1.2;
				transition: none;
			}
		}
		& a:hover { 
			font-size: 2.3rem;

			@include media-breakpoint-down(md) {
				font-size: $base-unit * 1.3;
				transition: none;
			}
		}

	}

}

.nav_links_mobile { 
	@extend %nav_links;
	display: none;

	@include media-breakpoint-down(md) {
		display: flex;
		background-color: gray;
		padding: 0;
		margin: 0;
	}

	& li { 

		@include media-breakpoint-down(md) {
			margin: 0 auto; 
			display: inline-flex;
			padding: $base-unit;
			text-align: center;
		}
		& .nav_links_mobile_icons {
			font-size: $base-unit * 2;
		}

	}
}

#contact_wrap {
	position: absolute;
    bottom: 2%;
    text-align: center;
    z-index: 9999;
    left: 0;
    right: 0;

    @include media-breakpoint-down(md) {
    	position: static;
		padding-top: 0;
		width: 100%;
		text-align: center;
		padding-right: 0;
		display: none;
	}
}

.contact_icons {
	color: $meinnovation-primary;
	font-size: $base-unit * 3;
	cursor: pointer;
	display: inline-block;

	@include media-breakpoint-down(lg) {
		font-size: $base-unit * 3.5;
	}
	@include media-breakpoint-down(md) {
		display: none;
	}
}

.gitHubIcon {
	margin: 0 $base-unit * 1.5;
}