@import "_variables.scss";
@import "_global.scss";

#services {
	margin-bottom: $base-unit * 4;
	height: initial;
}

.services_col_wrap {
	text-align: center;
	font-size: $base-unit * 1.2;

	& .services_col {
		vertical-align: top;
		padding: $base-unit * 3;

		& h3 {
			margin-top: $base-unit * 0.5;
			margin-bottom: $base-unit * 2;
			text-shadow: 0 0 $base-unit #FFD740;
		}
		@include media-breakpoint-down(md) {
			padding: $base-unit * 2 $base-unit * 14;
		}
		@include media-breakpoint-down(sm) {
			padding: $base-unit * 2 $base-unit * 4;
		}
	}
}

.services_icons  {
	font-size: $base-unit * 4;
}

.services_button {
	@extend %button;

	@include media-breakpoint-down(md) {
		width: 80%;
	}

}

.services_button:hover {
	width: 75%;

	@include media-breakpoint-down(md) {
		width: 85%;
	}
}

.pitch_container {
	margin: $base-unit * 2 auto;
}