@import "_variables.scss";

.services_col_wrap {
	text-align: center;
	font-size: 1.5rem;

	& .services_col {
		vertical-align: top;
		padding: 3rem;

		& h3 {
			margin-top: 0.5rem;
			margin-bottom: 2rem;
			text-shadow: 0 0 1rem #FFD740;
		}
		@include media-breakpoint-down(md) {
			padding: 2rem 14rem;
		}
		@include media-breakpoint-down(sm) {
			padding: 2rem 8rem;
		}
	}
}

.services_icons  {
	font-size: 4rem;
}

.services_button {
	background-color: $meinnovation-primary;
	color: #212121; 
	font-weight: bold; 
	width: 70%; 
	margin: 1.5rem auto;
	padding: 1rem 0; 
	font-family: 'Orbitron', sans-serif; 
	border: none; 
	font-size: 24px; 
	cursor: pointer; 
	display: block;
	border-radius: 0.3rem;
	transition: width 0.5s ease;
	box-shadow: 0 0 1rem #FFD740;

	@include media-breakpoint-down(md) {
		width: 80%;
	}

}

.services_button:hover {
	width: 40%;

	@include media-breakpoint-down(md) {
		width: 85%;
	}
}

.pitch_container {
	margin: 2rem auto;
}