$meinnovation-primary: 		#7820EC;
$meinnovation-secondary: 	black;
$meinnovation-highlight: 	#009297;
$white: 					#fff;
$base-unit: 				1rem;
$font-size-body: 			62.5%;
$font-family-body: 			Arial, sans-serif;
$heading-font-family: 		'Josefin Sans', sans-serif;
