* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, a:active, a:focus, a:hover { text-decoration: none; }

body { 
	font-family: $font-family-body; 
	background-color: $meinnovation-secondary; 
	color: $white; 
	margin: 0; 
	font-size: $font-size-body;
}

h1, h2, h3, h4 { 
	color: $white; 
	font-family: $heading-font-family; 
}

h2 { 
	font-size: $base-unit * 3;
	margin-bottom: $base-unit * 10;

	@include media-breakpoint-down(sm) {
		text-align: center;
		margin-bottom: $base-unit * 5;
	}
}

h3 								{ font-size: $base-unit * 2; }

li 								{ list-style-type: none; }

section 						{ padding-left: $base-unit * 4; }

.active 						{ color: $meinnovation-highlight; }

.button, %button {
	background-color: $meinnovation-primary;
	color: $meinnovation-secondary; 
	font-weight: bold; 
	width: 70%; 
	padding: $base-unit 0; 
	font-family: $font-family-body; 
	border: none; 
	font-size: $base-unit * 2.4; 
	cursor: pointer; 
	display: block;
	border-radius: $base-unit * 0.3;
	transition: width 0.5s ease;
	box-shadow: 0 0 $base-unit $meinnovation-primary;
}
