/* About */

/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #616161;
$meinnovation-ltgray: #BDBDBD;

.about_col_wrap {

	& .about_col {
		vertical-align: top;
	}
}

.about_image_container {

	.about_image {
		width: 40%;
		border-radius:5%;
	}	
}
