/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #BDBDBD;
$meinnovation-ltgray: #212121;


header { 
	position: absolute; 
	top: 0; 
	right: 0; 
	left: 0; 
	padding: 20px; 
}
