/* Intro */

/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #BDBDBD;
$meinnovation-ltgray: #212121;

.intro_logo { 
	width: 20%;

	@media screen and (max-width: 599px) {
		width: 50%;
	}  
}

#intro_logo_wrap, #intro_wrap { text-align: center; }

#intro_wrap { 
	margin-top: 150px; 

	@media screen and (max-width: 599px) {
		margin-top: 1rem; 
	}
}

#intro_data { 
	padding: 40px; 
	margin: 0 auto;

	@media screen and (max-width: 599px) {
		padding: 0;
	} 
}