/* Nav */
/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #BDBDBD;
$meinnovation-ltgray: #212121;


aside { 
	color: #37474F; 
	padding: 0;
	font-size: 1rem;
	position: fixed; 
	right: 0; 
	bottom: 0;  
	z-index: 500;
	width: 100%;

	@media screen and (min-width: 1200px) {
		top: 0;
		padding: 20px; 
		font-size: 1.8rem;
		width: 15%;
	}
}

.nav_links, %nav_links { 
	margin-top: 5rem;
	text-align: center;
	padding: 0;

	@media screen and (max-width: 599px) {
		display: none;
	}

	& li { 
		margin: 20px 0; 
		display: block;

		@media screen and (max-width: 599px) {
			display: none;
		}

		& a {
			color: $meinnovation-black; 
			font-family: 'Orbitron', sans-serif; 
			text-shadow: 0 0 1.5rem #FFD740;
			transition: font-size 0.5s ease;

			@media screen and (max-width: 599px) {
				font-size: 0.9rem;
				transition: none;
			}
		}
		& a:hover { 
			font-size: 2.4rem;

			@media screen and (max-width: 599px) {
				font-size: 0.9rem;
				transition: none;
			}
		}

	}

}

.nav_links_mobile { 
	@extend %nav_links;
	display: none;

	@media screen and (max-width: 599px) {
		display: flex;
		background-color: gray;
		padding: 0;
		margin: 0;
	}

	& li { 
		@media screen and (max-width: 599px) {
			margin: 0 auto; 
			display: inline-flex;
			padding: 1rem;
			text-align: center;
		}

		& .nav_links_mobile_icons {
			font-size: 1.5rem;
		}

	}
}

.intro_logo { 
	width: 80%;
	cursor: pointer;
	transition: .5s ease;

	@media screen and (max-width: 599px) {
		display: none;
	}
}

.intro_logo:hover {
	width: 90%;
}

#contact_wrap {
	position: absolute;
    bottom: 2%;
    text-align: center;
    z-index: 9999;
    left: 0;
    right: 0;

    @media screen and (max-width: 599px) {
    	position: static;
		padding-top: 0;
		width: 100%;
		text-align: center;
		padding-right: 0;
		display: none;
	}
}

.contact_icons {
	color: $meinnovation-black;
	font-size: 3rem;
	cursor: pointer;
	transition: font-size 0.5s ease;
	display: inline-block;
}

.contact_icons:hover {
	font-size: 4rem;
}

.gitHubIcon {
	margin: 0 1.5rem;
}