/* Projects */

/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #BDBDBD;
$meinnovation-ltgray: #212121;

photo img { 
	width: 90%; 
	cursor: pointer; 

	@media screen and (min-width: 1200px) {
		photo img { 
			width: 60%; 
			margin-left: 30px; 
			cursor: default; 
		}
	}
}

#gallery_wrap { 
	text-align: center; 

	& .slide-selection {
		@media screen and (min-width: 1200px) {
			text-align: left;
		}

	}
}

#main_wrap h1 { 
	margin-left: 30px; 
	padding-top: 30px;
}

.instructions { 
	text-align: left; 
	padding-left: 30px; 
	display: block; 

	& span {
		@media screen and (min-width: 1200px) {
			.instructions span { display: none; }
		}
	}
}

@media screen and (min-width: 1200px) {
	#gallery_wrap, .slide_selection { text-align: left; }
	.instructions span { display: none; }
	.slide_selection { padding-left: 10px; display: block; }
	.stats_wrap { width: 60%; }
	.slide_selectors { margin: 0 15px; }
	.slide-show { width: 30%; }
}


.instructions p { margin-bottom: 30px; }

.instructions span { color: $meinnovation-black; }

.slide_selection { 
	font-size: 80px; 

	@media screen and (min-width: 1200px) {
		padding-left: 10px; 
		display: block;
	}

}

.slide_selection a { 
	display: inline; 
	color: $meinnovation-black; 
}

.slide_selection i { 
	font-size: 40px; 
	vertical-align: middle; 
	margin-bottom: 15px; 
	color: $meinnovation-ltgray; 
}

#metadata { 
	position: absolute; 
	top: 680px; 
	height: 100%; 
	right: 0; 
	left: 0; 
	bottom: 0; 
	padding: 0 20px 0 20px; 
	z-index: 2000; 
	visibility: hidden; 
	cursor: pointer; 
	-webkit-transition: 1s; 
	-moz-transition: 1s; 
	-o-transition: 1s; 
	opacity: 0;

	@media screen and (min-width: 1200px) {
		position: absolute; 
		top: 850px; 
		right: 10px; 
		left: 50%; 
		bottom: 0; 
		padding-left: 10px; 
		z-index: 0; 
		visibility: visible; 
		opacity: 1; 
		width: 33.5%; 
		text-align: right; 
		height: 70%;
	}

	@media screen and (min-width: 1035px) and (max-width: 1199px) {
		background-color: white; 
		position: absolute; 
		top: 710px; 
		right: 0; 
		left: 50%; 
		bottom: 0; 
		padding-left: 10px; 
		z-index: 0; 
		visibility: visible; 
		opacity: 1; 
		width: 39%; 
		text-align: right; 
		height: 70%;
	}

	@media screen and (min-width: 600px) and (max-width: 899px) {
		top: 650px; 
		height: 90%; 
		cursor: pointer;
	}

	@media screen and (min-width: 900px) and (max-width: 1034px) {
		background-color: white; 
		position: absolute; 
		top: 750px; 
		right: 0; 
		left: 50%; 
		bottom: 0; 
		padding-left: 10px; 
		z-index: 0; 
		display: inline-block; 
		visibility: visible; 
		opacity: 1; 
		width: 39%; 
		text-align: right; 
		height: 70%;
	}

	@media screen and (max-height: 400px) and (max-width: 1029px) {
		height: 100%; 
		top: 750px;
	}

	@media screen and (max-height: 399px) {
		height: 100%; 
		top: 850px;
	}
 
}

#metadata button { 
	background-color: $meinnovation-black; 
	color: #212121; 
	font-weight: bold; 
	width: 90%; 
	padding: 10px 0; 
	margin: 40px auto 10px auto; 
	font-family: 'Orbitron', sans-serif; 
	border: none; 
	font-size: 24px; 
	cursor: pointer; 

	@media screen and (min-width: 1200px) {
		#metadata button { width: 60%; }
	}
}

.gitLink { margin: 10px auto !important;}

.meta_close { 
	position: absolute; 
	right: 0; 
	top: 0; 
	padding-top: 15px; 
	padding-right: 30px; 
	font-size: 30px; 
	z-index: 1000; 
	cursor: pointer; 
	font-size: 30px; 
	color: white; 

	@media screen and (min-width: 1200px) {
		display: none;
	}

}

.metadata_button_wrap { 
	text-align: center; 

	@media screen and (min-width: 1200px) {
		text-align: right;
	}
}

.meta_wrap { 
	padding-left: 100px; 

	& div { line-height: 30px; }

}

.slide_selectors { 
	display: inline-block; 
	margin: 0 7px; 
	cursor: pointer; 
}

.active { color: $meinnovation-ltgray; }

.instructions { 
	text-align: center; 
	padding: 0 20px; 
}

#desc { margin-bottom: 10px; }

span { 
	font-size: 16px; 
	color: $meinnovation-ltgray; 
	vertical-align: middle; 
	margin: 0 10px 16px 10px; 
	display: inline-block; 
}


@media screen and (min-width: 1200px) {
	.stats_wrap { width: 60%; }
	.slide_selectors { margin: 0 15px; }
	.slide-show { width: 30%; }
}
