/* About */

/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #616161;
$meinnovation-ltgray: #BDBDBD;

.services_col_wrap {
	text-align: center;

	& .services_col {
		vertical-align: top;
		padding: 3rem;

		& h3 {
			margin-top: 0.5rem;
			margin-bottom: 2rem;
			text-shadow: 0 0 1rem #FFD740;
		}
	}
}

.services_icons  {
	font-size: 4rem;
}

.services_button {
	background-color: $meinnovation-black;
	color: #212121; 
	font-weight: bold; 
	width: 90%; 
	margin: 1.5rem auto;
	padding: 1rem 0; 
	font-family: 'Orbitron', sans-serif; 
	border: none; 
	font-size: 24px; 
	cursor: pointer; 
	display: block;
	border-radius: 0.3rem;
	transition: width 0.5s ease;
	box-shadow: 0 0 1rem #FFD740;

}

.services_button:hover {
	width: 100%;
}

.pitch_container {
	margin: 2rem auto;
}