@import "_about.scss";
@import "_footer.scss";
@import "_header.scss";
@import "_intro.scss";
@import "_nav.scss";
@import "_projects.scss";


/* SASS declarations */
$meinnovation-black: #FFD740;
$meinnovation-gray: #BDBDBD;
$meinnovation-ltgray: #212121;


/* General */
body { 
	font-family: 'Roboto', sans-serif; 
	background-color: #212121; 
	color: white; 
	margin: 0; 

	@media screen and (min-width: 900px) {
		font-size: 18px;
	}
}

#container {
	width: 85%;

	@media screen and (max-width: 599px) {
		width: 100%;
	}
}

section { margin: 200px 0; }

a { text-decoration: none; }

li { list-style-type: none; }

h1, h2 { 
	color: $meinnovation-gray; 
	font-family: 'Orbitron', sans-serif; 
}

#button_wrap { 
	position: fixed; 
	right: 0; 
	top: 0; 
	padding-top: 15px; 
	padding-right: 30px; 
	font-size: 30px; 
	z-index: 1000; 

	& .nav_icons {
		color: $meinnovation-black;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
	.contact_icon img { width: 7%; cursor: pointer; }
	#intro_logo { width: 80%; }
	.instructions span { color: $meinnovation-black; }
	#intro_logo_wrap p { font-size: 45px; }
	.slide_selectors { margin: 0 15px; }
	.slide-show { width: 50%; }
}

@media screen and (min-width: 900px) and (max-width: 1034px) {
	.contact_icon img { width: 6%; cursor: pointer; }
	#intro_logo { width: 70%; }
	#intro_logo_wrap p { font-size: 60px; }
	.meta_close { display: none; }
	.meta_wrap { padding-left: 100px; }
	.metadata_button_wrap { text-align: right; }
	#metadata button { width: 60%; }
	photo img { width: 50%; margin-left: 30px; cursor: default; }
	.stats_wrap { width: 60%; }
	#gallery_wrap { text-align: left; }
	.instructions { text-align: left; padding-left: 30px; display: block; }
	.instructions span { display: none; }
	.slide_selection { padding-left: 10px; display: block; }
	br { display: none; }
	#nav_links { margin-right: 10px; }
	.slide_selectors { margin: 0 15px; }
	.slide-show { width: 40%; }

}

@media screen and (min-width: 1035px) and (max-width: 1199px) {
	.contact_icon img { width: 6%; cursor: pointer; }
	#intro_logo { width: 70%; }
	#intro_logo_wrap p { font-size: 60px; }
	.meta_close { display: none; }
	.meta_wrap { padding-left: 100px; }
	.metadata_button_wrap { text-align: right; }
	#metadata button { width: 60%; }
	photo img { width: 50%; margin-left: 30px; cursor: default; }
	.stats_wrap { width: 60%; }
	#gallery_wrap { text-align: left; }
	.instructions { text-align: left; padding-left: 30px; display: block; }
	.instructions span { display: none; }
	.slide_selection { padding-left: 10px; display: block; }
	br { display: none; }
	#nav_links { margin-right: 10px; }
	.slide_selectors { margin: 0 15px; }
	.slide-show { width: 30%; }

}

@media screen and (min-width: 1200px) {
	.contact_icon img { width: 5%; cursor: pointer; }
	#intro_logo { width: 60%; }
	#intro_logo_wrap p { font-size: 80px; }
	.meta_wrap { padding-left: 100px; }
	.meta_close { display: none; }
	.metadata_button_wrap { text-align: right; }
	#metadata button { width: 60%; }
	photo img { width: 60%; margin-left: 30px; cursor: default; }
	#gallery_wrap, .slide_selection { text-align: left; }
	.instructions { text-align: left; padding-left: 30px; display: block; }
	.instructions span { display: none; }
	.slide_selection { padding-left: 10px; display: block; }
	.stats_wrap { width: 60%; }
	br { display: none; }
	#nav_links { margin-right: 10px; }
	.slide_selectors { margin: 0 15px; }
	.slide-show { width: 30%; }
}
